doctype html
html(lang="ru_RU")
    head
        title Hello World
        link(rel="stylesheet", href="static/css/main.css")
    body
        p Привет всем!
        .slider
            .slider-item
            .slider-item
            .slider-item

        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")
